<h1> Data Science Tools and Ecosystem </h1>
"In this notebook, Data Science Tools and Ecosystem are summarized."
<h2>Author: Jakub Hodina</h2>

Some of the popular languages that Data Scientists use are:
- Python
- R
- Scala
- SQL

Some of the commonly used libraries used by Data Scientists include:
- pandas
- NumPy
- scikit-learn
- matplotlib
- seaborn
- TensorFlow
- Keras
- ggplot
- and many more...

| Data Science Tools |
| --- |
| Watson Studio |
| RStudio |
| JupyterLab |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

<b>Objectives:</b>
- SQL
- R
- Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
y = (3*4)+5
print (y)

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60
z = (x / y)
print (z)

3.3333333333333335